#band{
    height: 800px;
    width: 800px;
}
#piano_img {
    width: 100%;
    position: relative;
    left:200px;
    z-index:10;
}

#cello_img {
    width: 100%;
    position: absolute;
    z-index:20;
    left:200px;
}

#saxophone_img {
    width: 100%;
    position: absolute;
    left:200px;
}

#drum_img {
    width: 100%;
    position: absolute;
    left:200px;
}